
script.
    var something = function() {
        
        if(isSidebarActive == true){
            isSideBarActive = true;
            alert("true")
        }
        else{
            isSideBarActive = false;
            alert("false")
        }
    }