$bg-color: #1C1C2D;
$font-color: black;
$card-bg-color:#27293D;
$sidebar-bg-color:#1C1C2D;
$home-dashboard-icon-color:rgba(white,.5);
$navbar-icon-color:#FFF;
$card-header-color:white;
$breadcrumb-bg-color:#266DD3;
$breadcrumb-title-color:#fff;