$bg-color: #EFEFF5;
$font-color: black;
$card-bg-color:#fff;
$sidebar-bg-color:rgb(25, 26, 40);
$home-dashboard-icon-color:rgb(25, 26, 40);
$navbar-icon-color:rgb(25, 26, 40);
$card-header-color:rgb(25, 26, 40);
$breadcrumb-bg-color:#266DD3;
$breadcrumb-title-color:#fff !default;