extends layouts/base
block  page-title
	|	Apex Charts
block breadcrumb-item-1
	| 	Charts
block breadcrumb-item-2
	| 	Apex Charts
block page-content
	+row()
		+col()
			+basiccardwithactions("Apex Line Charts")
				div(id="apex-1")
		+col()
			+basiccardwithactions("Apex Multiple Line Charts")
				div(id="apex-2")
	+row()
		+col()
			+basiccardwithactions("Apex Bar Charts")
				div(id="apex-3")
		+col()
			+basiccardwithactions("Apex Bar Charts")
				div(id="apex-4")
	+row()
		+col()
			+basiccardwithactions("Apex Multiple Charts")
				div(id="apex-5")
		+col()
			+basiccardwithactions("Apex Stacked Charts")
				div(id="apex-6")
	+row()
		+col()
			+basiccardwithactions("Apex Stacked Bars Charts")
				div(id="apex-7")
		+col()
			+basiccardwithactions("Apex Multiple Charts")
				div(id="apex-8")
	+row()
		+col()
			+basiccardwithactions("Apex Donut Charts")
				div(id="apex-9")
		+col()
			+basiccardwithactions("Apex RadialBar Charts")
				div(id="apex-10")
	+row()
		+col()
			+basiccardwithactions("Apex Pie Charts")
				div(id="apex-11")
		+col()
			+basiccardwithactions("Apex Pie Charts")
				div(id="apex-12")
	+row()
		+col()
			+basiccardwithactions("Apex Radar Charts")
				div(id="apex-13")
		+col()
			+basiccardwithactions("Apex Radar Charts")
				div(id="apex-14")
	+row()
		+col(12,12,12,12,12)
			+basiccardwithactions("Apex Bubble Charts")
				div(id="apex-15")
block scripts
	//Apex Charts Javascript
	script( src='./libs/apexcharts/dist/apexcharts.min.js')
	script( src="js/pages/apexcharts-data.min.js")