extends layouts/base
block page-content
    .row
        .col-xl-6
            .card
                .card-body
                    h1
                        | Example heading 
                        span.badge.badge-secondary New
                    h2
                        | Example heading 
                        span.badge.badge-secondary New
                    h3
                        | Example heading 
                        span.badge.badge-secondary New
                    h4
                        | Example heading 
                        span.badge.badge-secondary New
                    h5
                        | Example heading 
                        span.badge.badge-secondary New
                    h6
                        | Example heading 
                        span.badge.badge-secondary New
        .col-xl-6
            .card
                .card-body
                    button.btn.btn-primary(type="button")
                        | Notifications 
                        span.badge.badge-light 4
                    button.btn.btn-primary(type="button")
                        | Profile 
                        span.badge.badge-light 9
                        |   
                        span.sr-only unread messages
    .row
        .col-xl-6
            .card
                .card-body
                    span.badge.badge-primary.bbadge Primary
                    span.badge.badge-secondary.bbadge Secondary
                    span.badge.badge-success.bbadge Success
                    span.badge.badge-danger.bbadge Danger
                    span.badge.badge-warning.bbadge Warning
                    span.badge.badge-info.bbadge Info
                    span.badge.badge-light.bbadge Light
                    span.badge.badge-dark.bbadge Dark
        .col-xl-6
            .card
                .card-body
                    span.badge.badge-pill.badge-primary.bbadge Primary
                    span.badge.badge-pill.badge-secondary.bbadge Secondary
                    span.badge.badge-pill.badge-success.bbadge Success
                    span.badge.badge-pill.badge-danger.bbadge Danger
                    span.badge.badge-pill.badge-warning.bbadge Warning
                    span.badge.badge-pill.badge-info.bbadge Info
                    span.badge.badge-pill.badge-light.bbadge Light
                    span.badge.badge-pill.badge-dark.bbadge Dark
    .row
        .col-xl-12
            .card
                .card-body
                    a.badge.badge-primary.bbadge(href="#") Primary
                    a.badge.badge-secondary.bbadge(href="#") Secondary
                    a.badge.badge-success.bbadge(href="#") Success
                    a.badge.badge-danger.bbadge(href="#") Danger
                    a.badge.badge-warning.bbadge(href="#") Warning
                    a.badge.badge-info.bbadge(href="#") Info
                    a.badge.badge-light.bbadge(href="#") Light
                    a.badge.badge-dark.bbadge(href="#") Dark