extends layouts/base
block page-content
	+row()
		+col("12","12","12","12","3")
			+bootstrap-card-1("1","Aenean","Cras risus ipsum, faucibus ut, ullamcorper id, varius.","Morbi")
		+col("12","12","12","12","3")
			+bootstrap-card-1("2","Proin","Nunc nec neque.","Nullam")
		+col("12","12","12","12","3")
			+bootstrap-card-1("3","Cras","Curabitur nisi.","Morbi")
		+col("12","12","12","12","3")
			+bootstrap-card-1("4","Quisque","Phasellus viverra nulla ut metus varius laoreet.","Vestibulum")
	+row()
		+col("12","12","12","12","4")
			+bootstrap-card-2("Sed hendrerit","Duis lobortis massa imperdiet quam.","Nullam dictum felis eu pede mollis pretium. Donec vitae sapien ut libero venenatis faucibus. Sed in libero ut nibh placerat accumsan.","Integer","Nunc")
		+col("12","12","12","12","4")
			+bootstrap-card-2("Vestibulum eu","Maecenas egestas arcu quis ligula mattis placerat.","Ut a nisl id ante tempus hendrerit. Pellentesque auctor neque nec urna. Sed a libero.","Sed","In")
		+col("12","12","12","12","4")
			+bootstrap-card-2("Cum sociis","Pellentesque posuere.","Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vivamus in erat ut urna cursus vestibulum. Maecenas","Vivamus","Suspendisse")
	+row()
		+col("12","12","12","12","4")
			+bootstrap-card-3()
		+col("12","12","12","12","4")
			+bootstrap-card-3("text-center")
		+col("12","12","12","12","4")
			+bootstrap-card-3("text-right")
	+row()
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-primary")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-secondary")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-success")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-danger")
	+row()
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-warning")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-info")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-light")
		+col("12","12","12","12","3")
			+bootstrap-card-4("bg-dark")
	+row()
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-primary")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-secondary")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-success")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-danger")
	+row()
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-warning")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-info")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-light")
		+col("12","12","12","12","3")
			+bootstrap-card-5("border-dark")