extends layouts/base
block page-content
    +row()
        +col(12,12,12,12,2)           
            +colorcards("red","red","#B03060")
        +col(12,12,12,12,2)           
            +colorcards("blue","blue","#0E6EB8")
        +col(12,12,12,12,2)           
            +colorcards("green","green","#016936")
        +col(12,12,12,12,2)           
            +colorcards("yellow","yellow","#FFD700")
        +col(12,12,12,12,2)           
            +colorcards("teal","teal","#008080")
        +col(12,12,12,12,2)           
            +colorcards("purple","purple","#B413EC")
    +row()
        +col(12,12,12,12,2)           
            +colorcards("violet","violet","#EE82EE")
        +col(12,12,12,12,2)           
            +colorcards("orange","orange","#FE9A76")
        +col(12,12,12,12,2)           
            +colorcards("pink","pink","#FF1493")
        +col(12,12,12,12,2)           
            +colorcards("black","black","#000000")
        +col(12,12,12,12,2)           
            +colorcards("brown","brown","#A52A2A")
        +col(12,12,12,12,2)           
            +colorcards("grey","grey","#A0A0A0")
    +row()
        +col(12,12,12,12,2)           
            +colorcards("olive","olive","#32CD32")
        +col(12,12,12,12,2)           
            +colorcards("teal","teal","#008080")
        +col(12,12,12,12,2)           
            +colorcards("cherry","cherry","#d8315b")
        +col(12,12,12,12,2)           
            +colorcards("bubble-gum","bubble-gum","#FFCAD4")
        +col(12,12,12,12,2)           
            +colorcards("middle-red-purple","middle-red-purple","#0B032D")
        +col(12,12,12,12,2)           
            +colorcards("pink-orange","pink-orange","#F39C6B")
    +row()
        +col(12,12,12,12,2)           
            +colorcards("bg-primary","bg-primary","#007bff")
        +col(12,12,12,12,2)           
            +colorcards("bg-secondary","bg-secondary","#868e96")
        +col(12,12,12,12,2)           
            +colorcards("bg-success","bg-success","#28a745")
        +col(12,12,12,12,2)           
            +colorcards("bg-danger","bg-danger","#dc3545")
        +col(12,12,12,12,2)           
            +colorcards("bg-warning","bg-warning","#ffc107")
        +col(12,12,12,12,2)           
            +colorcards("bg-info","bg-info","#17a2b8")
    +row()
        +col(12,12,12,12,2)           
            +colorcards("toolbox","toolbox","#7768AE")
        +col(12,12,12,12,2)           
            +colorcards("malachite","malachite","#0CCE6B")
        +col(12,12,12,12,2)           
            +colorcards("lemon-yellow","lemon-yellow","#F2FF49")
        +col(12,12,12,12,2)           
            +colorcards("fuchsia","fuchsia","#CB48B7")
        +col(12,12,12,12,2)           
            +colorcards("amazon","amazon","#337357")
        +col(12,12,12,12,2)           
            +colorcards("dark-cerulean","dark-cerulean","#083D77")
block scripts