extends layouts/base
block page-content
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Area Chart","chart1")
		+col(12,12,12,12,6)           
			+chart-card("Bar Chart","chart2")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Styled Bar Chart","chart3")
		+col(12,12,12,12,6)           
			+chart-card("HeatMap Chart","chart4")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Calendar Chart","chart5")
		+col(12,12,12,12,6)           
			+chart-card("Cone Chart","chart6")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Styled Line Chart","chart7")
		+col(12,12,12,12,6)           
			+chart-card("Styled Area Chart","chart8")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Analyze Chart","chart9")
		+col(12,12,12,12,6)           
			+chart-card("Rate Chart","chart10")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Iconed Chart","chart11")
		+col(12,12,12,12,6)           
			+chart-card("Rose Chart","chart12")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Pie Chart","chart13")
		+col(12,12,12,12,6)           
			+chart-card("Advanced Pie Chart","chart14")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Radar Chart","chart15")
		+col(12,12,12,12,6)           
			+chart-card("Radar Chart","chart16")
	+row()
		+col(12,12,12,12,6)           
			+chart-card("Radar Chart","chart17")
		+col(12,12,12,12,6)           
			+chart-card("Map Chart","chart18")
block scripts
	// Echarts  JavaScript
	script(src="libs/echarts/dist/echarts.min.js")
	script(src="assets/map/js/usa.js")    
	script( src="js/pages/echarts-data.min.js")
