extends layouts/base
block styles
	link(rel='stylesheet', href='./libs/lobibox/dist/css/lobibox.min.css')
	link(rel='stylesheet', href='./libs/flag-icon-css/css/flag-icon.min.css')
block page-content
	.row
		.col-lg-12.col-md-12
			.card
				.card-body
					.ui.fluid.big.icon.input
						input#search.prompt(type='text', placeholder='Searchs')
						i.search.icon
	div#container_sui_icon.row
block scripts
	script(src="./libs/clipboard/dist/clipboard.min.js")
	script(src="./libs/lobibox/dist/js/lobibox.min.js")
	script(src="./js/pages/flag-icons.min.js")
