extends layouts/base
block styles
	link(rel='stylesheet', href='libs/photoswipe/dist/photoswipe.css')
	link(rel='stylesheet', href='libs/photoswipe/dist/default-skin/default-skin.css')
block page-content
	.my-gallery(itemscope="", itemtype="http://schema.org/ImageGallery", data-pswp-uid="1")
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/1.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/1.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/2.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/2.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/3.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/3.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/4.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/4.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/5.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/5.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/6.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/6.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/22.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/22.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/23.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/23.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/24.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/24.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/25.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/25.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/26.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/26.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/27.jpg", itemprop="contentUrl", data-size="1024x768")
				img(src="assets/img/gallery/27.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/7.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/7.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/8.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/8.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/9.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/9.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/10.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/10.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/11.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/11.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		|                                 
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/12.jpg", itemprop="contentUrl", data-size="500x750")
				img(src="assets/img/gallery/12.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/17.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/17.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/18.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/18.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/19.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/19.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/20.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/20.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/21.jpeg", itemprop="contentUrl", data-size="1280x854")
				img(src="assets/img/gallery/21.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/29.jpeg", itemprop="contentUrl", data-size="1280x1920")
				img(src="assets/img/gallery/29.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/30.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/30.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/31.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/31.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/32.jpeg", itemprop="contentUrl", data-size="1280x854")
				img(src="assets/img/gallery/32.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/33.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/33.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/34.jpeg", itemprop="contentUrl", data-size="1280x1920")
				img(src="assets/img/gallery/34.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/35.jpeg", itemprop="contentUrl", data-size="1280x854")
				img(src="assets/img/gallery/35.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/36.jpeg", itemprop="contentUrl", data-size="1280x847")
				img(src="assets/img/gallery/36.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/37.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/37.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/38.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/38.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/39.jpeg", itemprop="contentUrl", data-size="1920x1281")
				img(src="assets/img/gallery/39.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/40.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/40.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/41.jpeg", itemprop="contentUrl", data-size="1280x1919")
				img(src="assets/img/gallery/41.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/42.jpeg", itemprop="contentUrl", data-size="1920x1280")
				img(src="assets/img/gallery/42.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/43.jpeg", itemprop="contentUrl", data-size="1920x1280")
				img(src="assets/img/gallery/43.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/44.jpeg", itemprop="contentUrl", data-size="1920x1660")
				img(src="assets/img/gallery/44.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/45.jpeg", itemprop="contentUrl", data-size="1920x2880")
				img(src="assets/img/gallery/45.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/46.jpeg", itemprop="contentUrl", data-size="1280x1406")
				img(src="assets/img/gallery/46.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/47.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/47.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/48.jpeg", itemprop="contentUrl", data-size="1280x853")
				img(src="assets/img/gallery/48.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/49.jpeg", itemprop="contentUrl", data-size="1280x847")
				img(src="assets/img/gallery/49.jpeg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
		figure(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
			a(href="assets/img/gallery/50.jpg", itemprop="contentUrl", data-size="1280x889")
				img(src="assets/img/gallery/50.jpg", itemprop="thumbnail", alt="Image description")
			|                                     
			figcaption(itemprop="caption description") IMPRESSIVE
	.pswp(tabindex="-1", role="dialog", aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				|             
				.pswp__item
				|             
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					|                 
					button.pswp__button.pswp__button--close(title="Close (Esc)")
					|                 
					button.pswp__button.pswp__button--share(title="Share")
					|                 
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					|                 
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				|             
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				|             
				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
				|             
				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				|             
				.pswp__caption
					.pswp__caption__center
block scripts
	script( src="libs/photoswipe/dist/photoswipe.min.js")
	script( src="libs/photoswipe/dist/photoswipe-ui-default.min.js")
	script( src="js/pages/gallery-page.min.js")

