extends layouts/base
block page-content
	h3#grid-system
		div
			| 16 Grid System
			a.anchorjs-link(href="#grid-system", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.ui.grid.grid-card-16
		.one.wide.column.large.screen.only
			.ui.basic.segment 
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
		.one.wide.column.large.screen.only
			.ui.basic.segment
				small One Col.
	.ui.grid.grid-card-16
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
		.two.wide.column.large.screen.only
			.ui.basic.segment Two Column
	.ui.grid.grid-card-16
		.four.wide.column.large.screen.only
			.ui.basic.segment Four Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Four Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Four Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Four Column
	.ui.grid.grid-card-16
		.eight.wide.column
			.ui.basic.segment Eight Column
		.eight.wide.column
			.ui.basic.segment Eight Column
	.ui.grid.grid-card-16
		.sixteen.wide.column
			.ui.basic.segment Sixteen Column
	h3#equal-width.grid-16-header
		div
			| Equal Width
			a.anchorjs-link(href="#equal-width", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.ui.three.column.grid.grid-card-16
		.column
			.ui.basic.segment Equal Three Column
		.column
			.ui.basic.segment Equal Three Column
		.column
			.ui.basic.segment Equal Three Column
	.ui.five.column.grid.grid-card-16
		.column.large.screen.only
			.ui.basic.segment Equal Five Column
		.column.large.screen.only
			.ui.basic.segment Equal Five Column
		.column.large.screen.only
			.ui.basic.segment Equal Five Column
		.column.large.screen.only
			.ui.basic.segment Equal Five Column
		.column.large.screen.only
			.ui.basic.segment Equal Five Column
	.ui.six.column.grid.grid-card-16
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
		.column.large.screen.only
			.ui.basic.segment Equal Six Column
	.ui.seven.column.grid.grid-card-16
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
		.column.large.screen.only
			.ui.basic.segment Equal Seven Column
	.ui.ten.column.grid.grid-card-16
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
		.column.large.screen.only
			.ui.basic.segment Equal Ten Column
	h3#automatic-flow.grid-16-header
		div
			| Automatic Flow
			a.anchorjs-link(href="#automatic-flow", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.ui.grid.grid-card-16
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
		.four.wide.column.large.screen.only
			.ui.basic.segment Automatic Flow Column
	h3#column-widths.grid-16-header
		div
			| Column Widths
			a.anchorjs-link(href="#column-widths", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.ui.grid.grid-card-16
		.eight.wide.column
			.ui.basic.segment Column Widths
		.eight.wide.column
			.ui.basic.segment Column Widths
		.ten.wide.column
			.ui.basic.segment Column Widths
		.six.wide.column
			.ui.basic.segment Column Widths
		.four.wide.column.large.screen.only
			.ui.basic.segment Column Widths
		.twelve.wide.column.large.screen.only
			.ui.basic.segment Column Widths
		.two.wide.column.large.screen.only
			.ui.basic.segment Column Widths
		.fourteen.wide.column.large.screen.only
			.ui.basic.segment Column Widths
		.sixteen.wide.column
			.ui.basic.segment Column Widths
	h3#stretched.grid-16-header
		div
			| Stretched
			a.anchorjs-link(href="#stretched", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.ui.three.column.divided.grid.grid-card-16.large.screen.only
		.stretched.row
			.column
				.ui.basic.segment Stretched
			.column
				.ui.basic.segment Stretched
				.ui.basic.segment Stretched
			.column.large.screen.only
				.ui.basic.segment Stretched
				.ui.basic.segment Stretched
				.ui.basic.segment Stretched
	h3#responsive-doubling.grid-16-header
		div
			| Responsive Doubling
			a.anchorjs-link(href="#responsive-doubling", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.five.column.doubling.ui.grid.grid-card-16
		.column
			.ui.basic.segment Responsive Doubling
		.column
			.ui.basic.segment Responsive Doubling
		.column
			.ui.basic.segment Responsive Doubling
		.column
			.ui.basic.segment Responsive Doubling
		.column
			.ui.basic.segment Responsive Doubling
	h3#responsive-stackable.grid-16-header
		div
			| Responsive Stackable
			a.anchorjs-link(href="#responsive-stackable", aria-label="Anchor", data-anchorjs-icon="#", style="padding-left: 0.375em;")
	.two.column.stackable.ui.grid.grid-card-16
		.column
			.ui.basic.segment Responsive Doubling
		.column
			.ui.basic.segment Responsive Doubling

	.ui.grid.grid-card-16
		.two.column.large.screen.only.row
			.column
				.ui.segment
					| Large Screen
			|     
			.column
				.ui.segment
					| Large Screen
		|   
		.two.column.large.screen.only.row
			.column
				.ui.segment
					| Widescreen
			|     
			.column
				.ui.segment
					| Widescreen
		|   
		.two.column.mobile.only.row
			.column
				.ui.segment
					| Mobile
			|     
			.column
				.ui.segment
					| Mobile
		|   
		.three.column.row
			.computer.only.column
				.ui.segment
					| Computer
			|     
			.tablet.mobile.only.column
				.ui.segment
					| Tablet and Mobile
			|     
			.column
				.ui.segment
					| All Sizes
			|     
			.column
				.ui.segment
					| All Sizes
		|   
		.four.column.computer.only.row
			.column
				.ui.segment
					| Computer
			|     
			.column
				.ui.segment
					| Computer
			|     
			.column
				.ui.segment
					| Computer
			|     
			.column
				.ui.segment
					| Computer
		|   
		.three.column.tablet.only.row
			.column
				.ui.segment
					| Tablet
			|     
			.column
				.ui.segment
					| Tablet
			|     
			.column
				.ui.segment
					| Tablet