extends layouts/base
block  page-title
	|	More Alerts
block breadcrumb-item-1
	| 	Alerts
block breadcrumb-item-2
	| 	More Alerts
block styles
	link(rel='stylesheet', href='libs/jquery-confirm2/dist/jquery-confirm.min.css')
	link(rel='stylesheet', href='libs/overhang.js/lib/overhang.min.css')
	link(rel='stylesheet', href='libs/easy-alert-js/dist/css/easy-alert.css')
block page-content
	+row()
		+extra-alerts-card("Jquery Confirm","Alert It","Elegant Alerts","example-p-1")
		+extra-alerts-card("Jquery Confirm","Confirmation","Stacked Confirmations","example-p-2")
		+extra-alerts-card("Jquery Confirm","Alert types","Success, error, warning","example-p-70-type")
		+extra-alerts-card("Jquery Confirm","Prompt","Need input?","example-p-7-1")
	+row()
		+extra-alerts-card("Jquery Confirm","Dialogs","Its also a Dialog","example-p-4")
		+extra-alerts-card("Jquery Confirm","Background dismiss","Not so important modal","example-p-3")
		+extra-alerts-card("Jquery Confirm","Asynchronous content","Loading from remote places","example-p-5")
		+extra-alerts-card("Jquery Confirm","Auto-close","Some actions maybe critical","example-p-6")
	+row()
		+extra-alerts-card("Jquery Confirm","Keystrokes","Responds to keystrokes","example-p-7")
		+extra-alerts-card("Jquery Confirm","Alignment","Automatically centered","example-pc-1")
		+extra-alerts-card("Jquery Confirm","Images","Loading images","example-pc-2")
		+extra-alerts-card("Jquery Confirm","Animations","Clean animations","example-pc-3")
	+row()
		+extra-alerts-card("Jquery Confirm","Draggable","Drag me around","example-p-7-2")
		+extra-alerts-card("Jquery Confirm","Modern","Modern Theme","example-the-1")
		+extra-alerts-card("Jquery Confirm","Material","Material Theme","example-the-3")
		+extra-alerts-card("Jquery Confirm","Bootstrap","Bootstrap Theme","example-the-4")
	+row()
		+extra-alerts-card("Jquery Confirm","Supervan","Supervan Theme","example-the-2")
	+row()
		+extra-alerts-card("Overhang.js","Try me","Success Message","example--1")
		+extra-alerts-card("Overhang.js","Try me","Closable Message","example--2")
		+extra-alerts-card("Overhang.js","Try me","Timed Message","example--3")
		+extra-alerts-card("Overhang.js","Try me","Confirmation Alert","example--4")
	+row()
		+extra-alerts-card("Overhang.js","Try me","Customized Alert","example--5")
		+extra-alerts-card("Overhang.js","Try me","Using callbacks ","example--6")
	+row()
		+extra-alerts-card("Easy Alert","Try me","Top Left","easy-alert-btn","t l")
		+extra-alerts-card("Easy Alert","Try me","Top Center ","easy-alert-btn","t c")
		+extra-alerts-card("Easy Alert","Try me","Top Right ","easy-alert-btn","t r")
		+extra-alerts-card("Easy Alert","Try me","Bottom Left ","easy-alert-btn","b l")
	+row()
		+extra-alerts-card("Easy Alert","Try me","Bottom Center","easy-alert-btn","b c")
		+extra-alerts-card("Easy Alert","Try me","Bottom Right ","easy-alert-btn","b r")
		+extra-alerts-card("Easy Alert","Try Me ","Success Alert","easy-alert-type-btn","t l","success")
		+extra-alerts-card("Easy Alert","Try Me ","Info Alert","easy-alert-type-btn","t r","info")
	+row()
		+extra-alerts-card("Easy Alert","Try Me","Danger Alert","easy-alert-type-btn","b l","danger")
		+extra-alerts-card("Easy Alert","Try Me ","Warning Alert","easy-alert-type-btn","b r","warning")
block scripts
	script(src='libs/jquery-confirm2/dist/jquery-confirm.min.js')
	script(src='libs/overhang.js/lib/overhang.min.js')
	script(src='libs/easy-alert-js/dist/js/easy-alert.js')
	script(src='js/pages/extra-alerts.min.js')