extends layouts/base
block page-content
	+row()
		+col("12","12","12","12","4")
			+salescard("$ 414,267.89","Amount Processed","sale-chart-1")
		+col("12","12","12","12","4")
			+salescard("$ 506,267.89","Amount Spent","sale-chart-2")
		+col("12","12","12","12","4")
			+salescard("$ 88,000.00","Profits Processed","sale-chart-3")
	+row()
		+col("12","12","12","12","6")
			+earningcard("earn-chart-1")
		+col("12","12","12","12","6")
			+customercard("earn-chart-2")
	+row()
		+col("12","12","12","12","6")
			+dailysalepeakscard("earn-chart-3","Daily Sale Peaks")
		+col("12","12","12","12","6")
			+row()
				+col("12","12","12","12","6")
					+salescard-2("Strongest Location:","New York","Store #18","earn-chart-4")
				+col("12","12","12","12","6")
					+salescard-3("Best Seller:","Cofee","+ 1,874,523","mockup")
	+row()
		+col("12","12","12","12","6")
			+dailysalepeakscard("earn-chart-5","Monthly Sales (in millions)")
		+col("12","12","12","12","6")
			+dailysalepeakscard("earn-chart-6","Department Sales")

block scripts
	//Echarts
	script( src='./libs/echarts/dist/echarts.min.js')
	script( src="./libs/echarts-liquidfill/dist/echarts-liquidfill.min.js") 
	script( src='./js/dashboards/sale-dashboard.min.js')
