extends layouts/base
block page-content
	+row()
		+col("12","12","12","12","3")
			+semantic-card-1("22","Gary Carlson","gary.carlson69@example.com","Nulla quis lorem ut libero malesuada","Teacher")
		+col("12","12","12","12","3")
			+semantic-card-1("23","Jeanette Berry","jeanette.berry85@example.com","Nulla porttitor accumsan tincidunt.","Co-Producer")
		+col("12","12","12","12","3")
			+semantic-card-1("24","Penny Little","penny.little45@example.com","Vestibulum ac diam sit amet quam","Styler")
		+col("12","12","12","12","3")
			+semantic-card-1("25","Jessica Grant","jessica.grant90@example.com","Lorem ipsum dolor sit amet","Engineer")
	+row()
		+col("12","12","12","12","3")
			+semantic-card-2("1h","5","1","Gary Carlson","3 Comments","17 Likes")
		+col("12","12","12","12","3")
			+semantic-card-2("3h","7","2","Jeanette Berry","17 Comments","5 Likes")
		+col("12","12","12","12","3")
			+semantic-card-2("1d 3h","12","3","Penny Little","23 Comments","11 Likes")
		+col("12","12","12","12","3")
			+semantic-card-2("1w","13","4","Jessica Grant","5 Comments","1 Likes")
	+row()
		+col("12","12","12","12","3")
			+semantic-card-3("2","Gary Carlson","Teacher","Vestibulum ac diam sit amet quam")
		+col("12","12","12","12","3")
			+semantic-card-3("6","Jeanette Berry","Co-Producer","Nulla porttitor accumsan tincidunt.")
		+col("12","12","12","12","3")
			+semantic-card-3("8","Penny Little","Styler","Nulla quis lorem ut libero malesuada")
		+col("12","12","12","12","3")
			+semantic-card-3("11","Jessica Grant","Engineer","Lorem ipsum dolor sit amet")
	+row()
		+col()
			.ui.link.cards.five.stackable
				+semantic-card-4("10","Matt Giampietro","Friends","Matthew is an interior designer living in New York.","Joined in 2013","75 Friends")
				+semantic-card-4("11","Molly","Coworker","Molly is a personal assistant living in Paris.","Joined in 2011","35 Friends")
				+semantic-card-4("12","Elyse","Coworker","Elyse is a copywriter working in New York.","Joined in 2014","131 Friends")
				+semantic-card-4("13","Cheryl","Artist","Matthew is an interior designer living in New York.","Joined in 2013","75 Friends")
				+semantic-card-4("14","Koany","Friends","Matthew is an interior designer living in New York.","Joined in 2013","75 Friends")
	+row()
		+col(12,12,12,12,3)
			+semantic-card-5()
		+col(12,12,12,12,3)
			+semantic-card-5()
		+col(12,12,12,12,3)
			+semantic-card-5()
		+col(12,12,12,12,3)
			+semantic-card-5()
	+row()
		+col()
			.ui.special.cards.five.stackable
				+semantic-card-6()
				+semantic-card-6()
				+semantic-card-6()
				+semantic-card-6()
				+semantic-card-6()
