extends layouts/base
block page-content
	+row()
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.ui.primary.button Primary Button
				button.ui.secondary.button Secondary Button        
				button.ui.button Basic Button
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				.ui.animated.button(tabindex='0')
					.visible.content Next
					.hidden.content
						i.right.arrow.icon
				.ui.vertical.animated.button(tabindex='0')
					.hidden.content Shop
					.visible.content
						i.shop.icon
				.ui.animated.fade.button(tabindex='0')
					.visible.content Sign-up for a Pro account
					.hidden.content
						| $12.99 a month
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				.ui.labeled.button(tabindex='0')
					.ui.button
						i.heart.icon
						|  Like
					a.ui.basic.label
						| 2,048
				.ui.left.labeled.button(tabindex='0')
					a.ui.basic.right.pointing.label
						| 2,048
					.ui.button
						i.heart.icon
						|  Like
				.ui.left.labeled.button(tabindex='0')
					a.ui.basic.label
						| 1,048
					.ui.icon.button
						i.fork.icon
				.ui.labeled.button(tabindex='0')
					.ui.red.button
						i.heart.icon
						|  Like
					a.ui.basic.red.left.pointing.label
						| 1,048
				.ui.labeled.button(tabindex='0')
					.ui.basic.blue.button
						i.fork.icon
						|  Forks
					a.ui.basic.left.pointing.blue.label
						| 1,048
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.ui.labeled.icon.button
					i.pause.icon
					|   Pause
				button.ui.right.labeled.icon.button
					i.right.arrow.icon
					|   Next
				button.ui.basic.button
					i.icon.user
					|   Add Friend
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.ui.primary.basic.button Primary
				button.ui.secondary.basic.button Secondary
				button.ui.positive.basic.button Positive
				button.ui.negative.basic.button Negative
				button.ui.red.basic.button Red
				button.ui.orange.basic.button Orange
				button.ui.yellow.basic.button Yellow
				button.ui.olive.basic.button Olive
				button.ui.green.basic.button Green
				button.ui.teal.basic.button Teal
				button.ui.blue.basic.button Blue
				button.ui.violet.basic.button Violet
				button.ui.purple.basic.button Purple
				button.ui.pink.basic.button Pink
				button.ui.brown.basic.button Brown
				button.ui.grey.basic.button Grey
				button.ui.black.basic.button Black
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				.ui.inverted.segment
					button.ui.inverted.button Standard
					button.ui.inverted.red.button Red
					button.ui.inverted.orange.button Orange
					button.ui.inverted.yellow.button Yellow
					button.ui.inverted.olive.button Olive
					button.ui.inverted.green.button Green
					button.ui.inverted.teal.button Teal
					button.ui.inverted.blue.button Blue
					button.ui.inverted.violet.button Violet
					button.ui.inverted.purple.button Purple
					button.ui.inverted.pink.button Pink
					button.ui.inverted.brown.button Brown
					button.ui.inverted.grey.button Grey
					button.ui.inverted.black.button Black
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				.ui.inverted.segment
					button.ui.inverted.basic.button Basic
					button.ui.inverted.red.basic.button Basic Red
					button.ui.inverted.orange.basic.button Basic Orange
					button.ui.inverted.yellow.basic.button Basic Yellow
					button.ui.inverted.olive.basic.button Basic Olive
					button.ui.inverted.green.basic.button Basic Green
					button.ui.inverted.teal.basic.button Basic Teal
					button.ui.inverted.blue.basic.button Basic Blue
					button.ui.inverted.violet.basic.button Basic Violet
					button.ui.inverted.purple.basic.button Basic Purple
					button.ui.inverted.pink.basic.button Basic Pink
					button.ui.inverted.brown.basic.button Basic Brown
					button.ui.inverted.grey.basic.button Basic Grey
					button.ui.inverted.black.basic.button Basic Black
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.ui.facebook.button
					i.facebook.icon
					|   Facebook
				button.ui.twitter.button
					i.twitter.icon
					|   Twitter
				button.ui.google.plus.button
					i.google.plus.icon
					|   Google Plus
				button.ui.vk.button
					i.vk.icon
					|   VK
				button.ui.linkedin.button
					i.linkedin.icon
					|   LinkedIn
				button.ui.instagram.button
					i.instagram.icon
					|   Instagram
				button.ui.youtube.button
					i.youtube.icon
					|   YouTube
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.mini.ui.button
					| Mini
				button.tiny.ui.button
					| Tiny
				button.small.ui.button
					| Small
				button.medium.ui.button
					| Medium
				button.large.ui.button
					| Large
				button.big.ui.button
					| Big
				button.huge.ui.button
					| Huge
				button.massive.ui.button
					| Massive
		+col()
			+basiccardwithactions("Basic Semantic Buttons")
				button.ui.red.button Red
				button.ui.orange.button Orange
				button.ui.yellow.button Yellow
				button.ui.olive.button Olive
				button.ui.green.button Green
				button.ui.teal.button Teal
				button.ui.blue.button Blue
				button.ui.violet.button Violet
				button.ui.purple.button Purple
				button.ui.pink.button Pink
				button.ui.brown.button Brown
				button.ui.grey.button Grey
				button.ui.black.button Black