extends layouts/base
block page-content
	+row()
		+col("12","12","12","12","12")
			+basiccard("Steps") 
				p A set of steps
				.ui.steps.fluid.tablet.stackable
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
			+basiccard("Ordered Step") 
				p  A step can show a ordered sequence of steps
				.ui.ordered.steps.fluid.tablet.stackable

					.completed.step
						.content
							.title Shipping
							.description Choose your shipping options
					.completed.step
						.content
							.title Billing
							.description Enter billing information
					.active.step
						.content
							.title Confirm Order
							.description Verify order details
			+basiccard("Vertical Step") 
				p  A step can be displayed stacked vertically

				.ui.vertical.steps
					.completed.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.completed.step
						i.credit.card.icon
						.content
							.title Billing
							.description Enter billing information
					.active.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
							.description Verify order details
			+basiccard("Stackable Step") 
				p  A step can stack vertically only on smaller screens

				.ui.tablet.stackable.steps.fluid
					.step
						i.icon.iconfont.icon-lunchuan
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-shaogouwu
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-lvyouquan
						.content
							.title Confirm Order
							.description Verify order details
							.description Verify order details
			+basiccard("Attached Step") 
				p  Steps can be attached to other elements
				.ui.three.top.attached.steps
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
							.description Verify order details
				.ui.attached.segment
					p.
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				.ui.three.bottom.attached.steps
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
							.description Verify order details
			+basiccard("Step Sizes") 
				p  Steps can have different sizes
				.ui.mini.steps.fluid.tablet.stackable
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
							.description Verify order details
				br
				.ui.small.steps.fluid.tablet.stackable
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
							.description Choose your shipping options
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing
							.description Enter billing information
					.disabled.step
						i.icon.iconfont.icon-zaocan
						.content
							.title Confirm Order
							.description Verify order details
				br
				.ui.massive.steps.fluid.tablet.stackable
					.step
						i.icon.iconfont.icon-yifahuo
						.content
							.title Shipping
					.active.step
						i.icon.iconfont.icon-gaoxiaofei
						.content
							.title Billing