extends layouts/base
block  page-title
	|	Tinymce Editor
block breadcrumb-item-1
	| 	Form
block breadcrumb-item-2
	| 	Tinymce Editor
block page-content
	//Page Content
	+row()
		+col("12","12","12","12","12")     
			+basiccard("Tinymce Editor") 
				textarea
					p(style='text-align: center;')
						img(title='TinyMCE Logo', src='//www.tinymce.com/images/glyph-tinymce@2x.png', alt='TinyMCE Logo', width='110', height='97')
					h1(style='text-align: center;') Welcome to the TinyMCE editor demo!
					p
						| Please try out the features provided in this basic example.
						br
						|     Note that any 
						strong MoxieManager
						|  file and image management functionality in this example is part of our commercial offering – the demo is to show the integration.
					h2 Got questions or need help?
					ul
						li
						| Our 
						a(href='https://www.tinymce.com/docs/') documentation
						|  is a great resource for learning how to configure TinyMCE.
						li
						| Have a specific question? Visit the 
						a(href='https://community.tinymce.com/forum/', target='_blank') Community Forum
						| .
						li
						| We also offer enterprise grade support as part of 
						a(href='www.tinymce.com/pricing') TinyMCE Enterprise
						| .
					h2 A simple table to play with
					table(style='text-align: center;')
						thead
						tr
							th Product
							th Cost
							th Really?
						tbody
						tr
							td TinyMCE
							td Free
							td YES!
						tr
							td Plupload
							td Free
							td YES!
					h2 Found a bug?
					p
						| If you think you have found a bug please create an issue on the 
						a(href='https://github.com/tinymce/tinymce/issues') GitHub repo
						|  to report it to the developers.
					h2 Finally ...
					p
						| Don't forget to check out our other product 
						a(href='http://www.plupload.com', target='_blank') Plupload
						| , your ultimate upload solution featuring HTML5 upload support.
					p
						| Thanks for supporting TinyMCE! We hope it helps you and your users create great content.
						br
						| All the best from the TinyMCE team.
			+basiccard("Inline Mode")     
				.editable
					h2
						img(title='TinyMCE Logo', src='//www.tinymce.com/images/glyph-tinymce@2x.png', alt='TinyMCE Logo', width='110', height='97', style='float: right')
						| TinyMCE Inline Mode
					p
						| This is an editable div element.
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt est ac dolor condimentum vitae laoreet ante accumsan. Nullam tincidunt tincidunt ante tempus commodo. Duis rutrum, magna non lacinia tincidunt, risus lacus tempus ipsum, sit amet euismod justo metus ut metus. Donec feugiat urna non leo laoreet in tincidunt lectus gravida. Sed semper ante sed dui consectetur eget commodo eros imperdiet. Mauris magna diam, scelerisque at ornare vel, dignissim ac sem. Fusce id congue lacus. Duis sit amet tellus erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus mattis facilisis pretium. In in nibh eu urna ornare semper. Sed imperdiet felis vitae nibh sagittis eu pulvinar metus facilisis. Sed dolor orci, aliquet sagittis auctor id, faucibus at justo.
					p
						| Vestibulum vestibulum velit nec magna lobortis elementum. Ut egestas ultrices tincidunt. Sed vestibulum mi vitae dui interdum eget rhoncus neque faucibus. Ut nec leo tellus. Nunc in metus sit amet purus bibendum dignissim pulvinar quis erat. Quisque vel ultricies nisi. Vestibulum eu ante risus. In ultrices dignissim massa, vel luctus dui consequat quis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui nulla, venenatis at porttitor nec, sagittis et urna. Nulla facilisi. Integer bibendum porta urna porta suscipit. In condimentum quam quis justo accumsan molestie. Fusce accumsan vulputate mattis. Sed pharetra volutpat erat at convallis. Etiam tempus, est ac tincidunt scelerisque, mi elit pretium nulla, sit amet viverra nisl enim id lorem. Suspendisse ut enim ullamcorper tellus eleifend sagittis. Aenean mollis turpis eu nisl viverra laoreet. Mauris ante purus, tempor ut viverra eu, vestibulum eget tellus. Morbi vitae dolor tellus. Mauris sodales rutrum nunc, a imperdiet augue egestas vel. Nulla facilisi. Nulla venenatis tristique nisi ut blandit. Phasellus suscipit arcu adipiscing velit posuere nec lacinia urna mattis.
					p
						| Nulla ullamcorper magna sit amet leo porta blandit. Aliquam sed nulla ac arcu vehicula feugiat. Fusce eget accumsan dui. Vestibulum vel leo tellus. Sed dignissim justo in nunc interdum tempor vehicula neque egestas. Fusce lacinia turpis sit amet leo consequat laoreet. Cras nec erat ac purus volutpat consequat. Vestibulum iaculis tincidunt purus eget blandit. Cras consectetur tellus libero. Vestibulum eros orci, volutpat vitae lobortis sit amet, porta quis felis. In a lacus ac neque luctus mollis. Nulla elementum nunc ac ante porttitor id venenatis augue venenatis. In aliquam magna non dolor convallis consequat.

block scripts
	script( src="libs/tinymce/tinymce.min.js")
	script.
			tinymce.init({
				selector: 'textarea',
				height: 500,
				menubar: false,
				plugins: [
					'advlist autolink lists link image charmap print preview anchor textcolor',
					'searchreplace visualblocks code fullscreen',
					'insertdatetime media table contextmenu paste code help wordcount'
				],
				toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
				content_css: [
					'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
					'//www.tinymce.com/css/codepen.min.css']
			});
			tinymce.init({
				selector: 'h2.editable',
				inline: true,
				toolbar: 'undo redo',
				menubar: false
			});

			tinymce.init({
				selector: 'div.editable',
				inline: true,
				plugins: [
					'advlist autolink lists link image charmap print preview anchor',
					'searchreplace visualblocks code fullscreen',
					'insertdatetime media table contextmenu paste'
				],
				toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
				content_css: [
					'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
					'//www.tinymce.com/css/codepen.min.css']
			});