extends layouts/base
block  page-title
	|	Vector Maps
block breadcrumb-item-1
	| 	Maps
block breadcrumb-item-2
	| 	Vector Maps
block page-content
	+row()
		+col()
			+basiccard("World Map")
				#vmapWorld(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Usa Map")
				#vmapUsa(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Germany Map")
				#vmapGermany(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Turkey Map")
				#vmapTurkey(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Algeria Map")
				#vmapAlgeria(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Argentina Map")
				#vmapArgentina(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Brazil Map")
				#vmapBrazil(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Canada Map")
				#vmapCanada(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Europe Map")
				#vmapEurope(style="width: 100%; height: 400px;")
		+col()
			+basiccard("France Map")
				#vmapFrance(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Greece Map")
				#vmapGreece(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Iran Map")
				#vmapIran(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Iraq Map")
				#vmapIraq(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Russia Map")
				#vmapRussia(style="width: 100%; height: 400px;")
	+row()
		+col()
			+basiccard("Tunussia Map")
				#vmapTunussia(style="width: 100%; height: 400px;")
		+col()
			+basiccard("Australia Map")
				#vmapAustralia(style="width: 100%; height: 400px;")
block scripts
	// Jqvmap
	script(src="libs/jqvmap/dist/jquery.vmap.min.js")
	script(src="libs/jqvmap/dist/maps/jquery.vmap.world.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.usa.js")
	script(src="libs/jqvmap/dist/maps/jquery.vmap.germany.js")
	script(src="libs/jqvmap/dist/maps/jquery.vmap.turkey.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.algeria.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.argentina.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.brazil.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.canada.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.europe.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.france.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.greece.js")   
	script(src="libs/jqvmap/dist/maps/jquery.vmap.iran.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.iraq.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.russia.js")    
	script(src="libs/jqvmap/dist/maps/jquery.vmap.tunisia.js")
	script(src="libs/jqvmap/dist/maps/continents/jquery.vmap.australia.js")
	script(src="js/pages/vectormap-data.min.js")
