$bg-color: white !default;
$font-color: black !default;
$card-bg-color:white !default;
$sidebar-bg-color:white !default;
$home-dashboard-icon-color:white !default;
$navbar-icon-color:white !default;
$card-header-color:black !default;
$breadcrumb-bg-color:#008BF8 !default;
$breadcrumb-title-color:#fff !default;