-
    var menu = {
        'Dashboards': {
            text: "Dashboards",
            link: "dashSubmenu",
            icon: "icon-scale",
            child: [
            {
                text: "Default",
                link: "index.html"
            },{
                text: "Crypto",
                link: "crypto-dashboard.html"
            },{
                text: "Analytics",
                link: "analystic-dashboard.html"
            }, {
                text: "Restaurant",
                link: "restaurant-dashboard.html"
            }, {
                text: "Fitness",
                link: "fitness-dashboard.html"
            }, {
                text: "Sale",
                link: "sale-dashboard.html"
            }, {
                text: "Event",
                link: "event-dashboard.html"
            }]
        },
        'Apps': {
            text: "Apps",
            link: "appsSubmenu",
            icon: "icon-stationery1",
            child: [{
                text: "Calendar",
                link: "calendar.html"
            }, {
                text: "Chat App",
                link: "chat-app.html"
            }, {
                text: "Support Ticket",
                link: "support-ticket.html"
            }, {
                text: "Contact App",
                link: "contacts-grid.html"
            }]
        },
        'Inbox': {
            text: "Inbox",
            link: "inboxSubmenu",
            icon: "icon-mail",
            child: [{
                text: "Mailbox",
                link: "mailbox.html"
            }]
        },
        'Elements': {
            text: "UI Elements",
            link: "uiSubmenu",
            icon: "icon-target",
            child: [ {
                text: "Grid System",
                link: "grids",
                child: [
                        {
                            text: "12 Grid",
                            link: "grid-12.html"
                        }, {
                            text: "16 Grid",
                            link: "grid-16.html"
                        }]
            }, {
                text: "Buttons",
                link: "buttons",
                child: [
                    {
                        text: "Bootstrap Buttons",
                        link: "bootstrap-buttons.html"
                    }, {
                        text: "Semantic Buttons",
                        link: "semantic-buttons.html"
                    }]
            } ,{
                text: "Icons",
                link: "icons",
                child: [
                        {
                            text: "Font Awesome",
                            link: "font-awesome-icons.html"
                        }, {
                            text: "Material Icons",
                            link: "material-icons.html"
                        }, {
                            text: "Custom Icons",
                            link: "custom-icons.html"
                        },
                        {
                            text: "Ionic Icons",
                            link: "ionicons-icons.html"
                        },  {
                            text: "Flag Icons",
                            link: "flag-icons.html"
                        }, {
                            text: "SVG Icons",
                            link: "svg-icons.html"
                        }]
            }, {
                text: "Colors",
                link: "colors.html"
            }, {
                text: "Cards",
                link: "cards",
                child: [
                        {
                            text: "Basic Cards",
                            link: "bootstrap-cards.html"
                        }, {
                            text: "Semantic Cards",
                            link: "semantic-cards.html"
                        }, {
                            text: "Advanced Cards",
                            link: "advanced-cards.html"
                        }]
            },{
                text: "Typography",
                link: "typography.html"
            }, {
                text: "Badges",
                link: "badge.html"
            }, {
                text: "Breadcrumbs",
                link: "breadcrumbs.html"
            }, {
                text: "Collapse",
                link: "collapse.html"
            }, {
                text: "Messages",
                link: "messages.html"
            }, {
                text: "Labels",
                link: "labels.html"
            }, {
                text: "Lists",
                link: "lists.html"
            }, {
                text: "Ribbons",
                link: "ribbons.html"
            }, {
                text: "Step",
                link: "step.html"
            }, {
                text: "Menu",
                link: "menu.html"
            }, {
                text: "Item",
                link: "item.html"
            }, {
                text: "Statistic",
                link: "statistic.html"
            }, {
                text: "Embed",
                link: "embeds.html"
            }, {
                text: "Extra UI",
                link: "extra_ui.html"
            }]
        },  'Scripts': {
            text: "Scripts",
            link: "scriptsSubMenu",
            icon: "icon-scubatank",
            child: [
           {
                text: "Alerts",
                link: "alerts",
                child: [
                        {
                            text: "Sweet Alert",
                            link: "sweet-alert.html"
                        }, {
                            text: "More Alerts",
                            link: "more-alerts.html"
                        }]
            }, {
                text: "Animations",
                link: "animations",
                child: [
                        {
                            text: "Animate-Css",
                            link: "animate-css.html"
                        }, {
                            text: "Semantic Transitions",
                            link: "semantic-transitions.html"
                        }]
            },{
                text: "Copy to Clipboard",
                link: "clipboard.html"
            }, {
                text: "Timeline",
                link: "timeline.html"
            }, {
                text: "Progress Bar",
                link: "progress-bar.html"
            }, {
                text: "Modals",
                link: "modals.html"
            },{
                text: "Tooltips",
                link: "tooltips.html"
            }, {
                text: "Popovers",
                link: "popovers.html"
            }, {
                text: "Tabs",
                link: "tabs.html"
            },{
                text: "Image Zoom",
                link: "image-zoom.html"
            },{
                text: "Filter",
                link: "filter.html"
            }]
        },
        'Pages': {
            text: "Pages",
            link: "pagesSubmenu",
            icon: "icon-receipt",
            child: [
            {
                text: "Profile",
                link: "profile.html"
            },{
                text: "E-Commerce",
                link: "e_commerce.html"
            }, {
                text: "Invoice",
                link: "invoice.html"
            },{
                text: "Gallery",
                link: "gallery.html"
            }, {
                text: "Pricing",
                link: "pricing.html"
            },{
                text: "Coming  Soon",
                link: "coming-soon.html"
            },{
                text: "Register",
                link: "register",
                child: [
                        {
                            text: "Register",
                            link: "register.html"
                        },{
                            text: "Register 2",
                            link: "register2.html"
                        }]
            },{
                text: "Login",
                link: "login",
                child: [
                                {
                        text: "Login",
                        link: "login.html"
                    },{
                        text: "Login 2",
                        link: "login2.html"
                    }]
            }, {
                text: "Lock Screen",
                link: "lock-screen.html"
            },{
                text: "Error 404",
                link: "404.html"
            },{
                text: "Error 500",
                link: "500.html"
            },{
                text: "Blank Page",
                link: "blank.html"
            }]
        },
        'Forms': {
            text: "Forms",
            link: "formsSubmenu",
            icon: "icon-monocle",
            child: [
            {
                text: "Basic Forms",
                link: "basic_forms.html"
            }, {
                text: "Semantic UI Forms",
                link: "basic_forms_sui.html"
            }, {
                text: "Form Layout",
                link: "form_layout.html"
            }, {
                text: "Form Addons",
                link: "form_addons.html"
            }, {
                text: "Form Pickers",
                link: "form_pickers.html"
            }, 
           
            {
                text: "File Upload",
                link: "file_upload.html"
            }, {
                text: "Form Mask",
                link: "form_mask.html"
            },{
                text: "Form Validation",
                link: "form_validation.html"
            },{
                text: "File Dropzone",
                link: "file_dropzone.html"
            },{
                text: "Image Cropper",
                link: "image_cropper.html"
            },{
                text: "Html5 Editor",
                link: "html5_editor.html"
            },{
                text: "Summmernote Editor",
                link: "summernote_editor.html"
            },{
                text: "Tinymce Editor",
                link: "tinymce_editor.html"
            },{
                text: "Xeditable Editor",
                link: "xeditable_editor.html"
            }]
        },
        'Tables': {
            text: "Tables",
            link: "tablesSubmenu",
            icon: "icon-pen2",
            child: [
            {
                text: "Basic Tables",
                link: "basic_tables.html"
            }, {
                text: "Semantic UI Table",
                link: "basic_tables_sui.html"
            },{
                text: "Table Layouts",
                link: "table_layouts.html",
                sidebarBadge: "New"
            }, {
                text: "Data Table",
                link: "data_table.html"
            }, 
             {
                text: "Bootstrap Data Tables",
                link: "bootstrap_tables.html"
            },{
                text: "Responsive Tables",
                link: "responsive_tables.html"
            },{
                text: "FooTables",
                link: "foo_tables.html"
            },{
                text: "JsGrid Tables",
                link: "jsgrid_tables.html"
            },{
                text: "Stack Table",
                link: "stack_table.html"
            },{
                text: "Tabella Table",
                link: "tabella_table.html"
            }]
        },
        'Charts': {
            text: "Charts",
            link: "chartsSubmenu",
            icon: "icon-grid",
            child: [
            {
                text: "Echarts",
                link: "echarts.html"
            }, 
             {
                text: "Apex Charts",
                link: "apex-charts.html"
            },{
                text: "Flot Charts",
                link: "flot-charts.html"
            },{
                text: "Morris Chart",
                link: "morris-charts.html"
            }, {
                text: "Chartist-js",
                link: "chartistjs.html"
            }, {
                text: "Chart-js",
                link: "chartjs.html"
            },{
                text: "Easy Pie Charts",
                link: "easypiecharts.html"
            },{
                text: "Peity Charts",
                link: "peitycharts.html"
            }, {
                text: "Sparkline Charts",
                link: "sparkline-charts.html"
            },{
                text: "Knob Charts",
                link: "knob-charts.html"
            }]
        }, 'Maps': {
            text: "Maps",
            link: "mapsSubmenu",
            icon: "icon-marker",
            child: [
            {
                text: "Vector Map",
                link: "vector-maps.html"
            }]
        },'MultiLevel': {
            text: "Multi Level",
            link: "multilevelSubmenu",
            icon: "icon-layers",
            child: [
            {
                text: "Multi Level 1",
                link: "#"
            }, {
                text: "Multi Level 2",
                link: "#",
                child: [
                        {
                            text: "Multi Level 2.1",
                            link: "#"
                        }, {
                            text: "Multi Level 2.2",
                            link: "#",
                            child: [
                                    {
                                        text: "Multi Level 2.2.1",
                                        link: "#"
                                    }, {
                                        text: "Multi Level 2.2.2",
                                        link: "#"
                                    }, {
                                        text: "Multi Level 2.2.3",
                                        link: "#"
                                    }
                                    ]
                        }, {
                            text: "Multi Level 2.3",
                            link: "#"
                        }]
            }, {
                text: "Multi Level 3",
                link: "#"
            }]
        },
       
          'Change Log': {
            icon: "icon-sofa",
            text: "Change Log",
            link: "change-log.html",
            sidebarBadge: "New",
            child: []
        },
          'Docs': {
            icon: "icon-settingwrenches",
            text: "Docs",
            link: "docs",
            child: [],
            target:"_blank"
        },
        
    };