head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

	title
		block title
			| Potasium Admin
	meta(name="keywords" content="")
	meta(name="description" content="")

	link(rel="shortcut icon" href="./assets/img/favicon/favicon.ico" type="image/x-icon")

	link(rel="apple-touch-icon" href="./assets/img/favicon/apple-touch-icon.png")
	link(rel="apple-touch-icon" sizes="72x72" href="./assets/img/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="114x114" href="./assets/img/favicon/apple-touch-icon-114x114.png")

	// Semantic-Ui 
	link(property="stylesheet" href="./libs/semantic/dist/semantic.min.css" rel="stylesheet")
	// Bootstrap CSS
	link(property="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
	// owl-carousel
	link(property="stylesheet" href="./libs/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet")
	//Perfect-Scrollbar
	link(property="stylesheet" href="./libs/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet")
	// user css
	link(property="stylesheet" id="theme_styles" href="./css/themes/potasium.light.css" rel="stylesheet")
	//Font-Awesome
	link(property="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css" rel="stylesheet")
	// font-icons
	link(property="stylesheet" href="./assets/fonts/icons/black-icons-1/iconfont.css" rel="stylesheet")
	link(property="stylesheet" href="./assets/fonts/icons/black-icons-2/iconfont.css" rel="stylesheet")
	link(property="stylesheet" href="./assets/fonts/icons/black-icons-3/iconfont.css" rel="stylesheet")
	link(property="stylesheet" href="./assets/fonts/icons/black-icons-13/iconfont.css" rel="stylesheet")
	link(property="stylesheet" href="./assets/fonts/icons/black-sea-icons/iconfont.css" rel="stylesheet")
	block styles
	

