nav
    .ui.menu.nav-menu.borderless
        a.item.sidebarCollapse
            i.fitted.icon.iconfont.icon-xitongcaidan.big
        a.item
            i.fitted.icon.iconfont.icon-layers.big
        .right.menu
            .ui.dropdown.item
                i.flag.us
                i.dropdown.icon
                .menu
                    a.item
                        i.flag.us 
                        | English
                    a.item
                        i.flag.ru 
                        | Russian
                    a.item
                        i.flag.es
                        | Spanish
            a.item.rightCalendarSide
                i.fitted.icon.iconfont.icon-brush.big
            a.item.rightsidebar
                i.fitted.icon.iconfont.icon-palette.big