.ui.right.sidebar.vertical.push.right-side-menu
    .header
    .ui.equal.width.center.aligned.three.column.stackable.grid
        .row
            .column
                a.bg-1
            .column
                a.bg-2
            .column
                a.bg-3
        .row
            .column
                a.bg-4
            .column
                a.bg-5
            .column
                a.bg-6
        .row
            .column
                a.bg-7
            .column
                a.bg-8
            .column
                a.bg-9
        .row
            .column
                a.bg-10
            .column
                a.bg-11
            .column
                a.bg-12
        .row
            .column
                a.bg-13
            .column
                a.bg-14
            .column
                a.bg-15