<!--[if lt IE 9]>
	<script src="./libs/html5shiv/es5-shim.min.js"></script>
	<script src="./libs/html5shiv/html5shiv.min.js"></script>
	<script src="./libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="./libs/respond/respond.min.js"></script>
<![endif]-->

// jquery
script( src='./libs/jquery/dist/jquery.min.js')
// jquery ui
script( src='./libs/jquery-ui/jquery-ui.min.js')
// Bootstrap
script( src="./libs/popper.js/dist/umd/popper.min.js" )
script( src="libs/bootstrap/dist/js/bootstrap.min.js" )
// Semantic and Bootsrap  Modal  Conflict fix
script.
	$.fn.BsModal = $.fn.modal.noConflict();
// semantic-ui
script( src='./libs/semantic/dist/semantic.min.js')
// perfect-scrollbar
script( src='./libs/perfect-scrollbar/dist/perfect-scrollbar.min.js')
// owl-carousel
script( src='./libs/owl.carousel/dist/owl.carousel.min.js')

block  scripts
// user scripts
script( src='./js/main.min.js')
block extra-scripts